{
    "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 2021
    },
    "plugins": ["@typescript-eslint"],
    "rules": {
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "space-before-function-paren": 0,
        "spaced-comment": ["error", "always"],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/no-empty-interface": [
            "error",
            {
                "allowSingleExtends": true
            }
        ],
        "camelcase": "off"
    }
}
